{% extends "inicio/menu_admin_empleado.html" %}

{% block content %}
  <style>
      body {
          font-family: Arial, sans-serif;
      }

      .delete-employee-container {
          margin: 20px;
          padding: 20px;
          background-color: #f9f9f9d2;
          border-radius: 8px;
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          text-align: center;
      }

      .delete-employee-container h2 {
          font-size: 24px;
          color: #333;
          margin-bottom: 20px;
      }

      .delete-employee-container p {
          font-size: 16px;
          color: #666;
          margin-bottom: 30px;
      }

      .btn {
          display: inline-block;
          padding: 10px 20px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          color: #fff;
          background-color: #16BFE8;
          border: none;
          border-radius: 15px;
          box-shadow: 0 5px #999999b1;
          margin: 5px;
      }

      .btn:hover {
          background-color: #117391;
      }

      .btn:active {
          background-color: #D7D7D7;
          box-shadow: 0 2px #666;
          transform: translateY(2px);
      }

      /* Media Query para pantallas más pequeñas */
      @media screen and (max-width: 600px) {
          .btn {
              width: 100%;
              padding: 12px;
              font-size: 16px;
          }
      }
  </style>

  <div class="delete-employee-container">
      <h2>¿Estás seguro de que deseas eliminar este empleado?</h2>
      <p>Nombre: {{ object.nombre }} {{ object.apellido }}</p>
      <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Confirmar Eliminación</button>
      </form>
      <a href="{% url 'empleado_list' %}" class="btn">Cancelar</a>
  </div>
{% endblock %}
